---
import { Colors } from "../constants/colors";
---

<a href="/my-portfolio/about">
  <div class="HomeSection SecondSection AboutSection flex flex-col">
    <div class="HomeSection-image" />
    <div class="HomeSection-text max-w-xs text-left mt-10">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
  </div>
</a>

<style define:vars={{ RED: Colors.RED }}>
  .AboutSection {
    background-color: var(--RED);
    top: 0;
    left: 0;
  }
</style>