---
import { Colors, YEARS_EXPERIENCE } from "../constants";
---

<main class="HomeSection SectionMain flex flex-col">
  <img class="HomeSection-image"></>

  <p class="mt-16 text-3xl font-bold">
    Faihd Pineda
  </p>
  <p class="HomeSection-text max-w-md text-center text-lg mt-5">
    Full-Stack developer, with 
    <span class="SectionMain-experience" id="experience">{ YEARS_EXPERIENCE } year</span><span class="SectionMain-punter is-desactiveAnimation" id="punter">|</span> 
    experience in the web develpoment and the cloud services
  <p/>
</main>

<script>
  import "../util/changeTextExperience"
</script>

<style define:vars={{ DARK_GRAY: Colors.DARK_GRAY, RED: Colors.RED }}>
  .SectionMain {
    width: 66.3%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    /* animation: reduce 10s ease; */
  }  

  .SectionMain-experience {
    color: var(--RED);
    font-weight: bold;
  }

  .SectionMain-experience, .SectionMain-punter {
    font-size: 22px !important;
  }

  .is-activeAnimation {
    animation: vanish .8s infinite ease;
  }

  @keyframes vanish {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes reduce {
    0% {
      width: 100%;
    }

    75% {
      width: 100%;
    }

    100% {
      width: 66.7%;
    }
  }
</style>